:root {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-size: 1rem;
  line-height: 26px;
}

.header-bg {
  background-color: #ffffff;
  box-shadow: 1px 6px 8px 1px rgba(151, 143, 143, 0.59);
  -webkit-box-shadow: 1px 6px 8px 1px rgba(151, 143, 143, 0.59);
  -moz-box-shadow: 1px 6px 8px 1px rgba(151, 143, 143, 0.59);
}
